/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: Avenir Next, Arial;
  color: #ffffff;
  background-color: #F4E0E0;
}

nav .container-fluid {
  background-color: #930000;
}

.navbar.custom-nav {
  margin-bottom: 0px;
}

i {
  color: white;
}

.container-fluid {
  background-color: #F4E0E0;
  margin-top: 0;
}


.logout {
  padding-top: 10px;
  padding-right: 15px;

}

p {
  color: gray;
  display: block;
  font-size: 18px;
}

a {
  color: white;
}

header a {
  color: #fff;
  display: block;
  float: right;
}
header img {
  height: 30px;
  display: block;
  float: right;
  padding-right: 10px;
}

figure {
  width: 100%;
  margin: 30px auto 30px auto;
  padding: 15px;
}
figure img {
  height: 300px;
}


.like {
  background-position: 0 -50px;
}

.nolike {
}

footer {
  text-align: right;
}
footer p, button a, button i {
  color: #E2E2E2;
}

.alert {
  color: darkred;
}
.notice{
  color: darkgreen;
}

#match figure {
  float: left;
}

figure button {
  width: 150px;
}
.bottom {
  background-color: #930000;
}

.well.custom-well {
  border-radius: 10px;
  background: #E6E6E6;

}
.main-color {
  color: #930000;
}

